@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-nunito: "Nunito", sans-serif;
  --font-openSans: "Open Sans", sans-serif;
  --font-fredoka: "Fredoka", sans-serif;

  --color-primaryCyan: #4bd4e1;
}
