@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-nunito: "Nunito", sans-serif;
  --font-openSans: "Open Sans", sans-serif;
  --font-fredoka: "Fredoka", sans-serif;

  --color-primaryCyan: #4bd4e1;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}

.basic-transition {
  @apply transition-all duration-300;
}

.icon-style {
  @apply size-10 text-white hover:text-primaryCyan duration-200 transition-all;
}
